@import "./assets/helpers/global.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* ::-webkit-scrollbar {
	width: 5px;
	background-color: blue;
} */

.main-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 134px;
  letter-spacing: 0.54px;
  color: #31c0ff;
  font-family: "Bebas Neue", cursive;
}
