@import "./assets/helpers/global.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* ::-webkit-scrollbar {
	width: 5px;
	background-color: blue;
} */

.main-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  letter-spacing: 0.54px;
  color: #31c0ff;
  font-family: "Bebas Neue", cursive;
}

.aboutUsTitle {
  font-family: "Bebas Neue", cursive;
}

@media (max-width: 400px) {
  .main-desc {
    font-size: 45px;
    margin-top: 0;
  }
}

.blogOverFlowScrollElement::-webkit-scrollbar {
  width: 5px;
  background-color: grey;
}

.ourServices h2 {
  font-family: "Bebas Neue", cursive;
}
.destinationInFooter {
  font-family: "Bebas Neue", cursive;
  /* font-size: ; */
}
